<p id="notice"><%= notice %></p>

<h1>Graduates Counter</h1>
<div class="grad-counter"><%= @graduate.counter %></div>

      <p><%= link_to 'Update', edit_graduate_path(@graduate), class: "btn btn-default" %></td>
      