<h1>About NCCT</h1>
<p>Established in November 1993, Northern California Construction Training, Inc. (NCCT) is a building trade’s pre-apprenticeship training program that helps prepare men and women for entry into various construction trades apprenticeship training programs.  NCCT is a non-profit, community-based organization.  NCCT has a general contractor’s license. Our carefully selected staff of credentialed teacher-trainers is experienced in construction and is highly motivated.</p>
<p>During the program students receive unpaid training in the classroom as well as hands-on building experience in Construction Trades work under the supervision of a journeyman carpenter.  When the student is successful  in completing the training program he/she will be offered an opportunity to join the construction trades apprenticeship training program of his/her choosing; when positions are available.  These apprenticeships positions start anywhere from $14.00 to $23.00 per hour, depending on the trade and benefits. </p>
<p>Many potential construction workers are not aware of the career opportunities available to them.  This is especially true for women and minorities. NCCT was formed to make well-paying careers in construction available to anyone with the desire to complete our program and participate in apprenticeship training.  Since our doors opened, NCCT has trained thousands of students in our adult programs, in-custody jail program, juvenile/youth programs, probation/parolee programs and ROP high school program. </p>
<p>NCCT’s program and curriculum have been approved by Sacramento County Office of Education (SCOE) and are reviewed by SCOE and the NCCT Board of Directors quarterly.  
</p>


	<% content_for :rh do %>

	<%= image_tag 'frame.jpg' %>
	<%= image_tag 'conc.jpg' %>
	<%= image_tag 'onladder.jpg' %>


	<% end %>