<h1>Careers</h1>

<p>Looking for work?  How’s this sound? We help place you in a construction job as an apprentice.</p>

<p>Our program is open to all individuals who are willing to learn. All we ask for is your commitment to do a good job.</p>

<p class="lead"><b><i>There's no program like ours anywhere in California</i></b></p>

<%= image_tag 'future.jpg', class: "body-img"%>

<p>Our master Carpenter-Trainers will train you academically in the classroom. While you learn how to build a variety of assigned projects, NCCT will supply you with practical life skills and useful knowledge to succeed at any job site.</p>
<p>When you’ve proven you’re ready, we’ll help you get started on the next step toward a career in construction – an apprenticeship in one of the many trades: Plumbers & Pipefitters, Carpenters, Plasterers, Electricians, Sheet Metal Workers, Laborers, Ironworkers, Teamsters, Drywall & Lather, Millwright, Operating Engineers, Cement Masons, Painters, Glaziers, Tile Layer & Setter, Bricklayer & Stone Mason, Roofer & Waterproofer and many more - we’ve got former students in them all.</p>
<p>You’ll start day one on the job as a paid apprentice. By the time you’ve become a journeyman or journeywoman in 2 to 5 years, you’ll be able to buy a home of your own.  Plus, the benefits are great and include full medical and dental for both you and your family.</p>
<p>It isn’t easy, but it will be worth it and we are here to help guide you thru this life changing career plan.
</p>


	<% content_for :rh do %>

	<%= image_tag 'truck.jpg' %>
	<%= image_tag 'rebar.jpg' %>
	<%= image_tag 'forklift.jpg' %>


	<% end %>