<h1>The NCCT Curriculum</h1>

<p>Skills taught in the classroom and onsite include:</p>
<div class="curric">
<ul>
	
	<li>Use of construction terms, tools and equipment</li>
	<li>General job safety and First Aid</li>
	<li>Measurements and basic blueprint reading</li>
	<li>Modern Carpentry Textbook Units 1 thru 30</li>
	<li>Enhance and improve math, reading, and writing skills</li>
	<li>Development of proper work habits (i.e. Drug free, strong work ethic, positive attitude, communication, time management abilities, problem-solving, self-confidence, and team player)</li>
	<li>Preparation for apprenticeship entry exams</li>
	<li>Driver’s License</li>
	<li>GED preparation and testing</li>
	<li>Certifications – OSHA 10HR Safety, OSHA 40HR Hazwoper, OSHA 8HR Hazmat, and Forklift </li>
	<li>Aquapex, TracPipe, First Aid/CPR </li>
	<li>Random Drug Tests</li>
	
</ul>
	</div>
	
	<% content_for :rh do %>

	<%= image_tag 'tools.jpg' %>
	<%= image_tag 'ged.jpg' %>
	<%= image_tag 'hazmat.jpg' %>


	<% end %>