<h1>NCCT Success</h1>

<p>Why has NCCT been so successful?</p>
<p>Our President, Bill Meehan has a national reputation in the construction industry. Contractors, unions and apprentice schools respect him. He has developed a program that offers students an opportunity to succeed and overcome many barriers.  His innovation and forward thinking brought together several government and private agencies to focus on common issues and goals that are beneficial for all. Mr. Meehan’s “organizational abilities and his determination to provide a quality education program” were the catalysts that have led to the program’s great success.

<p><b>Job placement/Successful graduates
<p>Awesome collaborations and partnerships with key individuals 
<p>Training and leadership skills
<p>Accountability</b></p>
<p> <p>&nbsp;

