<h3>Using the Editor</h3>

<p>You can format the text here using the features similar to a regular word processor. 
	
	<p><b>You may need to reformat the text if it is coming from a Word document, as the systems work differently</b></p>
	
	<h3>Images</h3>
	
	<p>Add images inline using the Image button, then click the 'upload' tab.
		
		<p>Make sure you 'send to server', then specify the size.</p>
		
		<p><strong>Make sure image width is no bigger than 720px</strong></p>
		
		<p>For best results, when you need multiple images in one section, make a collage of the pictures using a photo editor, and upload as a single image for use in the news story here.</p>