<div class="well shop-ad">
	
	<h4><span class="glyphicon glyphicon-shopping-cart"></span> Purchase NCCT Products</h4>
	<p>Support NCCT and get a great deal on items made by our students! <span class="learnmore"><%= link_to 'See our Products', products_path %> <span class="glyphicon glyphicon-share-alt"></span></span>
</div>